body {
  background-color: #a1a1a1;
}

.Contenedor-agregar {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  height: 40%;
  justify-content: space-between;
}

h1 {
  width: 100%;
  background-color: rgb(137, 68, 202);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.Principal-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100vh;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;

}

.content-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-a-mostrar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.contenedor-productos {
  width: 50%;
}

#seccion-a-recargar {
  width: 50%;
}

table {
  box-sizing: content-box;
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  color: #000000;
}

.x-small {
  width: 100px;
}

tr {
  height: 50px;

}

th {
  width: 120px;
}

.checkbox-wrapper-7 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-wrapper-7 .tgl {
  display: none;
}

.checkbox-wrapper-7 .tgl,
.checkbox-wrapper-7 .tgl:after,
.checkbox-wrapper-7 .tgl:before,
.checkbox-wrapper-7 .tgl *,
.checkbox-wrapper-7 .tgl *:after,
.checkbox-wrapper-7 .tgl *:before,
.checkbox-wrapper-7 .tgl+.tgl-btn {
  box-sizing: border-box;
}

.checkbox-wrapper-7 .tgl::-moz-selection,
.checkbox-wrapper-7 .tgl:after::-moz-selection,
.checkbox-wrapper-7 .tgl:before::-moz-selection,
.checkbox-wrapper-7 .tgl *::-moz-selection,
.checkbox-wrapper-7 .tgl *:after::-moz-selection,
.checkbox-wrapper-7 .tgl *:before::-moz-selection,
.checkbox-wrapper-7 .tgl+.tgl-btn::-moz-selection,
.checkbox-wrapper-7 .tgl::selection,
.checkbox-wrapper-7 .tgl:after::selection,
.checkbox-wrapper-7 .tgl:before::selection,
.checkbox-wrapper-7 .tgl *::selection,
.checkbox-wrapper-7 .tgl *:after::selection,
.checkbox-wrapper-7 .tgl *:before::selection,
.checkbox-wrapper-7 .tgl+.tgl-btn::selection {
  background: none;
}

.checkbox-wrapper-7 .tgl+.tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 19.09px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:after,
.checkbox-wrapper-7 .tgl+.tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:before {
  display: none;
}

.checkbox-wrapper-7 .tgl:checked+.tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn {
  background: #949494;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
  height: 30px;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:hover:after {
  will-change: padding;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:active:after {
  padding-right: 0.8em;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn {
  background: #86d993;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn:active {
  box-shadow: none;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn:active:after {
  margin-left: -0.8em;
}

.info-a-mostrar .tabla-conectada th:hover {
  background-color: #8a8a8a3a;
}

.tabla-conectada {
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.tabla-conectada1 {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

input[type=text] {
  width: 325px;
}

.inputs-vr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final {
  border-top-left-radius: 10px;
  background-color: rgb(137, 68, 202);
}

.final1 {
  border-top-right-radius: 10px;
  background-color: rgb(137, 68, 202);
}

thead {
  color: white;
  background-color: rgb(137, 68, 202);
}

.forms-label {}