body {
  background-color: #a1a1a1;
}

.Contenedor-agregar {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  height: 40%;
  justify-content: space-between;
}

h1 {
  width: 100%;
  background-color: rgb(137, 68, 202);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.Principal-div {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 350px;
  width: 350px;
}

.content-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.info-a-mostrar {
  display: flex;
  justify-content: center;
  width: 70%;
}

.contenedor-productos {
  width: 50%;
}

#seccion-a-recargar {
  width: 50%;
}

table {
  box-sizing: content-box;
  width: 100%;
  background-color: #FFFFFF;
  border-collapse: collapse;
  color: #000000;
}

.x-small {
  width: 100px;
}

tr {
  height: 50px;

}

th {
  width: 120px;
}

.checkbox-wrapper-7 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-wrapper-7 .tgl {
  display: none;
}

.checkbox-wrapper-7 .tgl,
.checkbox-wrapper-7 .tgl:after,
.checkbox-wrapper-7 .tgl:before,
.checkbox-wrapper-7 .tgl *,
.checkbox-wrapper-7 .tgl *:after,
.checkbox-wrapper-7 .tgl *:before,
.checkbox-wrapper-7 .tgl+.tgl-btn {
  box-sizing: border-box;
}

.checkbox-wrapper-7 .tgl::-moz-selection,
.checkbox-wrapper-7 .tgl:after::-moz-selection,
.checkbox-wrapper-7 .tgl:before::-moz-selection,
.checkbox-wrapper-7 .tgl *::-moz-selection,
.checkbox-wrapper-7 .tgl *:after::-moz-selection,
.checkbox-wrapper-7 .tgl *:before::-moz-selection,
.checkbox-wrapper-7 .tgl+.tgl-btn::-moz-selection,
.checkbox-wrapper-7 .tgl::selection,
.checkbox-wrapper-7 .tgl:after::selection,
.checkbox-wrapper-7 .tgl:before::selection,
.checkbox-wrapper-7 .tgl *::selection,
.checkbox-wrapper-7 .tgl *:after::selection,
.checkbox-wrapper-7 .tgl *:before::selection,
.checkbox-wrapper-7 .tgl+.tgl-btn::selection {
  background: none;
}

.checkbox-wrapper-7 .tgl+.tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 19.09px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:after,
.checkbox-wrapper-7 .tgl+.tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:after {
  left: 0;
}

.checkbox-wrapper-7 .tgl+.tgl-btn:before {
  display: none;
}

.checkbox-wrapper-7 .tgl:checked+.tgl-btn:after {
  left: 50%;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn {
  background: #a1a1a1;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
  height: 30px;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:hover:after {
  will-change: padding;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}

.checkbox-wrapper-7 .tgl-ios+.tgl-btn:active:after {
  padding-right: 0.8em;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn {
  background: #86d993;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn:active {
  box-shadow: none;
}

.checkbox-wrapper-7 .tgl-ios:checked+.tgl-btn:active:after {
  margin-left: -0.8em;
}

.info-a-mostrar .tabla-conectada th:hover {
  background-color: #8a8a8a3a;
}

.tabla-conectada {
  border-bottom-right-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.tabla-conectada1 {
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.forms-input {
  text-align: center;
  box-sizing: border-box;
  width: 150px;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: .2em solid #E91E63;
  background: rgba(#E91E63, .2);
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: black;
}

.forms-input:focus {
  box-sizing: border-box;
  width: 150px;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: .2em solid #E91E63;
  background: rgba(#E91E63, .2);
  border-radius: .2em .2em 0 0;
  padding: .4em;
  color: black;
}

.forms-input:valid {
  border-bottom: .2em solid #86d993;
}

.inputs-vr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.final {
  border-top-left-radius: 10px;
  background-color: rgb(137, 68, 202);
}

.final1 {
  border-top-right-radius: 10px;
  background-color: rgb(137, 68, 202);
}

thead {
  color: white;
  background-color: rgb(137, 68, 202);
}

.forms-input-checkbox,
.forms-input-checkbox1 {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  width: 40%;
  height: 40px;
  border-radius: 7px;
  background-color: rgb(137, 68, 202);
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.forms-input-checkbox:hover {
  background: rgba(0, 189, 16, 0.9);
}

.forms-input-checkbox1:hover {
  background: rgba(228, 0, 0, 0.9);
}

.forms-input-checkbox:focus {
  background: rgba(0, 189, 16, 0.9);
}

.forms-input-checkbox1:focus {
  background: rgba(228, 0, 0, 0.9);
}